@import './../../theme';

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-icon {
  background: mat-color($primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-methods {
  .github .mat-icon {
    color: #333;
  }
  .facebook .mat-icon {
    color: #3b5998;
  }
}
