<mat-card *ngIf="day as day">
  <mat-card-header>
    <div mat-card-avatar class="icon-card-avatar">
      <mat-icon
        fontSet="fa"
        [fontIcon]="day.loading ? 'fa-sync' : 'fa-calendar'"
        [class.fa-spin]="day.loading"
        inline
      ></mat-icon>
    </div>
    <mat-card-title>{{ day.uid }}</mat-card-title>
    <mat-card-subtitle>
      reached {{ day.duration.minutes | duration }} of
      {{ day.target.minutes | duration }}
    </mat-card-subtitle>
    <div class="spacer"></div>
    <div>
      <button
        class="create-item-for-day-button"
        type="button"
        mat-mini-fab
        (click)="createItem()"
      >
        <mat-icon fontSet="fa" fontIcon="fa-calendar-plus" inline></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar
      mode="determinate"
      [value]="day.percentage"
    ></mat-progress-bar>
    <table mat-table [dataSource]="day.items">
      <caption></caption>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef scope="col"></th>
        <td mat-cell *matCellDef="let item" class="actions-cell">
          <button mat-icon-button color="accent" (click)="editItem(item)">
            <mat-icon fontSet="fa" fontIcon="fa-pen"></mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="deleteItem(item)">
            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef scope="col">Category</th>
        <td mat-cell *matCellDef="let item">
          {{ item.category }}
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef scope="col">Title</th>
        <td mat-cell *matCellDef="let item">{{ item.title }}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef scope="col">Time</th>
        <td mat-cell *matCellDef="let item" class="time-cell">
          {{ item.start | date: 'HH:mm' }}-{{ item.end | date: 'HH:mm' }}
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedItemColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
