table {
  width: 100%;
  .actions-cell,
  .time-cell {
    white-space: nowrap;
  }
  .diff-cell.bad {
    color: rgb(150, 50, 50);
  }
  .diff-cell.good {
    color: rgb(50, 150, 50);
  }

  td {
    padding: 5px;
  }
}
