<mat-card class="content-area">
  <mat-card-header>
    <div mat-card-avatar class="icon-card-avatar">
      <mat-icon
        fontSet="fa"
        [fontIcon]="month.loading ? 'fa-sync' : 'fa-calendar'"
        [class.fa-spin]="month.loading"
        inline
      ></mat-icon>
    </div>
    <mat-card-title>{{ month.uid }}</mat-card-title>
    <mat-card-subtitle
      >current month reached {{ month.reached.minutes | duration }} of
      {{ month.target.minutes | duration }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar
      mode="determinate"
      [value]="(month.target.minutes / month.totalTarget.minutes) * 100"
      color="primary"
    ></mat-progress-bar>
    <mat-progress-bar
      mode="determinate"
      [value]="(month.reached.minutes / month.totalTarget.minutes) * 100"
      [color]="
        month.reached.minutes < month.target.minutes ? 'warn' : 'primary'
      "
    ></mat-progress-bar>

    <table mat-table [dataSource]="month.pastDays">
      <caption></caption>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef scope="col"></th>
        <td mat-cell *matCellDef="let day" class="actions-cell">
          <button mat-icon-button color="accent" (click)="createItem(day.uid)">
            <mat-icon fontSet="fa" fontIcon="fa-calendar-plus"></mat-icon>
          </button>
          <button
            mat-icon-button
            color="accent"
            (click)="openDayTargetAdjustmentDialog(day)"
          >
            <mat-icon fontSet="fa" fontIcon="fa-cog"></mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef scope="col">Day</th>
        <td mat-cell *matCellDef="let day">{{ day.weekDay }}, {{ day.uid }}</td>
      </ng-container>
      <ng-container matColumnDef="tracked">
        <th mat-header-cell *matHeaderCellDef scope="col"></th>
        <td mat-cell *matCellDef="let day">
          {{ day.reached.minutes | duration }} of
          {{ day.target.minutes | duration }}
        </td>
      </ng-container>
      <ng-container matColumnDef="diff">
        <th mat-header-cell *matHeaderCellDef scope="col"></th>
        <td
          mat-cell
          *matCellDef="let day"
          class="diff-cell"
          [class.bad]="day.reached.minutes - day.target.minutes < 0"
          [class.good]="day.reached.minutes - day.target.minutes > 0"
        >
          {{ day.reached.minutes - day.target.minutes | duration }}
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
