<div class="main-header mat-elevation-z6" *ngIf="user$ | async as user">
  <nav>
    <a mat-button routerLink="/" routerLinkActive="active">Worktracker</a>
  </nav>
  <div class="spacer"></div>

  <span *ngIf="balance$ | async as balance">{{
    balance.minutes | duration
  }}</span>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon><span>Logout</span>
    </button>
  </mat-menu>
</div>

<router-outlet></router-outlet>
